.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
  }
  .link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    a{
        text-decoration: none;
        color: #46e316;
        font-weight: normal;
        &:active{
            color: #d65c00;
        }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      label {
        font-size: 1rem;
      }
      input {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        font-size: 0.8rem;
      }
    }
  }
}
